body{
    background-image: linear-gradient(180deg, #7AA8C2, white);
    /* height: 100vh; */
    position: relative;
}
.lang-select {
    appearance: none;
    -webkit-appearance: none;
    padding: 4px 24px 4px 2px;
    font-size: 16px;
    border: none;
    background-image: url('./assets/en.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 24px 24px;
    color: #4a5568;
    border-radius: 4px;
    cursor: pointer;
}
  
.lang-option {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
}
  
.lang-option[data-image="./assets/en.png"] {
    background-image: url('./assets/en.png');
}
  
.lang-option[data-image="./assets/fr.png"] {
    background-image: url('./assets/fr.png');
}
.demo{
    width: 300px;
}
.download-img{
    width: 25px !important;
}
.data{
    width: 250px;
}
.paid{
    width: 70px;
}